{% extends "base.html" %}

{%block title %}Танкостроение СССР{%endblock%}

{% block icon %}
http://ih1.redbubble.net/image.120527829.5426/st%2Csmall%2C507x507-pad%2C600x600%2Cf8f8f8.jpg
{% endblock %}

{% block nation %} <a>СССР</a> {% endblock %}

{% block descnation %} 
<p>Танкостроение СССР ахуительно</p>
{% endblock %}


{% block photolink %}
https://cdnn1.img.sputnik-abkhazia.info/img/102504/59/1025045926_0:52:3066:1979_1920x0_80_0_0_367d700e7476cce87bdc767f6a5c1994.jpg
{% endblock %}
{% block tankdescription %}
<a>Танк Т-34</a>
<p>T-34 — советский средний танк периода Великой Отечественной войны, выпускался серийно с 1940 года. 
    В течение 1942—1947 годов — основной танк РККА и ВС СССР. 
    Являлся основным танком РККА до первой половины 1944 года, до поступления в войска его модификации Т-34-85.
    Самый массовый танк Второй мировой войны и послевоенного времени.
    Разработан конструкторским бюро танкового отдела Харьковского завода № 183 под руководством Михаила Ильича Кошкина.</p>
{% endblock %}

{% block photolink2 %}
https://pretich2005.narod.ru/foto-war/1942/kv1_stal.jpg
{% endblock %}
{% block tankdescription2 %}
<a>Кв-1</a>
<p>
    Кв-1 - советский легендарный тяжёлый танк времён Великой Отечественной Войны. 
    Обычно называется просто «КВ»: танк создавался под этим именем, и лишь позже, после появления танка КВ-2, КВ первого образца ретроспективно получил цифровой индекс. 
    Выпускался с августа 1939 года по август 1942 года. 
    Серийное производство танков КВ началось в феврале 1940 года на Кировском заводе.
</p>
{% endblock %}

{% block photolink3 %}
https://i.servimg.com/u/f11/19/70/96/74/1856010.jpg
{% endblock %}
{% block tankdescription3 %}
<a>Т-34-85</a>
<p>
    Т-34-85 — войсковое обозначение последней массовой модификации советского среднего танка Т-34 с орудием калибра 85-мм. 
    Принят на вооружение РККА Постановлением ГКО № 5021 от 23 января 1944 года.
    Спроектирован на базе серийного танка Т-34 образца 1942 года. 
    Установка 85-мм пушки и конструктивные доработки значительно повысили боевую эффективность танка Т-34-85 по сравнению с Т-34-76.
    Новая башня увеличенного объёма с усиленной броневой защитой конструктивно аналогична башне опытного танка Т-43. 
    Повышена общая защищённость экипажа (5 человек), улучшены условия функционального взаимодействия членов экипажа. 
    Показатели подвижности (быстроходность, манёвренность и проходимость) танка Т-34-85 вследствие увеличения его боевой массы снизились незначительно.
</p>
{% endblock %}

{% block photolink4 %}
https://u.9111s.ru/uploads/202108/12/1fc1c7a3f07997ed3c8f16caf6a1f228.jpg
{% endblock %}
{% block tankdescription4 %}
<a>КВ-2</a>
<p>
    КВ-2 — советский тяжёлый штурмовой танк начального периода Великой Отечественной войны.
    Первоначально именовался «КВ с большой башней».
    Эта машина была разработана конструкторским бюро Ленинградского Кировского завода (ЛКЗ) в январе 1940 года в связи с острой необходимостью РККА в хорошо защищённом танке с мощным вооружением для борьбы с фортификациями линии Маннергейма во время советско-финской войны 1939—1940 гг.
    На танке КВ-2 устанавливалась 152-мм танковая гаубица обр. 1938/40 гг.(М-10Т) танковый вариант полевой гаубицы образца 1938 года (М-10).
    Боекомплект орудия составлял 36 выстрелов раздельного заряжания. 
    Выстрелы (снаряды и метательные заряды в гильзах) укладывались в башне и вдоль обоих бортов боевого отделения. 
    Так как машина никогда не планировалась на роль истребителя танков, а исключительно для огневой поддержки, то, по сравнению с широким ассортиментом боеприпасов 152-мм гаубицы М-10, штатный боекомплект КВ-2 был ограничен только одним видом боеприпасов
</p>
{% endblock %}

{% block photolink5 %}
https://alternathistory.com/wp-content/uploads/2019/01/Su76m_16.jpg
{% endblock %}
{% block tankdescription5 %}
<a>СУ-76</a>
<p>
    Су-76 - советская самоходная артиллерийская установка (САУ), применявшаяся в Великой Отечественной войне.
    Самоходка выполнена на базе лёгких танков Т-60, Т-70 и предназначалась для непосредственного сопровождения пехоты, имела противопульное бронирование. 
    Основное вооружение позволяло бороться с лёгкими и средними танками противника. 
    Самый лёгкий и самый массовый тип САУ из выпускавшихся в СССР в годы Великой Отечественной войны и войны с Японией
</p>
{% endblock %}
